.the-table{
	/* background-color: #277714; */
	border: 8px solid #663300;
	/* border-radius: 10px; */
	margin-top: 20px;
	padding: 40px 0px 60px 0px;
	border-radius: 10px 10px 50% 50%;
	background-image: url("../images/darktable.jpg");
}

.card{
	height: 140px;
	color: black;
	margin: 5px;
	padding: 0;
	width: 10.5%;
	float: left;

}
img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.dealer-total{
	color: white;
	font-weight: bold;
}

.player-total{
	color: white;
	font-weight: bold;
}

body{
	background-image: url("../images/background1.jpg");
}

/* .player-hand-wrapper{
	height: 175px;
}

.dealer-hand-wrapper{
	height: 175px;
} */