/* Keyframe 1 for first card. Need to make 3 more. */
@keyframes card-move-1 {
    0%   {
    	top: 0px;
    	left: 0px;
    	opacity: 0;
    }
    1% {
    	opacity: 1;
    }
    90% {
    	top: 305px;
    	left: -195px;
    	opacity: .8;
    }
    99%{
    	top: 305px;
    	left: -195px;
    }
    100% {
    	top:  0px;
    	opacity: 0;
    }
}

@keyframes card-move-2 {
    0%   {
    	top: 0px;
    	left: 0px;
    	opacity: 0;
    }
    1% {
    	opacity: 1;
    }
    90% {
    	top: 305px;
    	left: -85px;
    	opacity: .8;
    }
    99%{
    	top: 305px;
    	left: -85px;
    }
    100% {
    	top:  0px;
    	opacity: 0;
    }
}

@keyframes card-move-3 {
    0%   {
    	top: 0px;
    	left: 0px;
    	opacity: 0;
    }
    1% {
    	opacity: 1;
    }
    90% {
    	top: 305px;
    	left: 20px;
    	opacity: .8;
    }
    99%{
    	top: 305px;
    	left: 20px;
    }
    100% {
    	top:  0px;
    	opacity: 0;
    }
}

@keyframes card-move-4 {
    0%   {
    	top: 0px;
    	left: 0px;
    	opacity: 0;
    }
    1% {
    	opacity: 1;
    }
    90% {
    	top: 305px;
    	left: 130px;
    	opacity: .8;
    }
    99%{
    	top: 305px;
    	left: 130px;
    }
    100% {
    	top:  0px;
    	opacity: 0;
    }
}

.the-table{
	border: 10px solid #663300;
	margin-top: 10px;
	padding: 40px 0px 60px 0px;
	border-radius: 10px 10px 50% 50%;
	background-image: url("../images/simplegreen2.jpg");
	transform: perspective(1200px) rotateX(35deg);
	box-shadow: 10px 15px 30px black;
}

.card{
	height: 140px;
	color: black;
	margin: 5px;
	padding: 0;
	width: 10.5%;
	float: left;
}
.card-move-1{
	position: absolute;
	top: 0;
	left: 0;
	/* animation: card-move-1 1.8s 1; */
}

.card-move-2{
	position: absolute;
	top: 0;
	left: 0;
	/* animation: card-move-2 1.8s 1; */
}

.card-move-3{
	position: absolute;
	top: 0;
	left: 0;
	/* animation: card-move-3 1.8s 1; */
}

.card-move-4{
	position: absolute;
	top: 0;
	left: 0;
	/* animation: card-move-4 1.8s 1; */
}


.deck{
	position: relative;
}

/* .deck:hover{
	transform: rotate(180deg);
	transition: all .5s;
} */

img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.dealer-total{
	color: white;
	font-weight: bold;
}

.player-total{
	color: white;
	font-weight: bold;
}

body{
	background-image: url("../images/background1.jpg");
}

.color-me{
	color: white;
}

/* .player-hand-wrapper{
	height: 175px;
}

.dealer-hand-wrapper{
	height: 175px;
} */